{% set distro_requires %}
  <distro_family op="=" value="RedHatEnterpriseLinux7"/>
  <distro_variant op="=" value="Server"/>
  <distro_name op="=" value="RHEL-7.9"/>
{% endset %}
{# add efi=runtime otherwise reboot using kernel-rt will fail on machines with UEFI #}
{% set kernel_options_post = "efi=runtime" %}
{% set repos %}
  <repo name="pulp_0" url="https://rhsm-pulp.corp.redhat.com/content/dist/rhel/server/7/7Server/x86_64/os"/>
  <repo name="pulp_1" url="https://rhsm-pulp.corp.redhat.com/content/dist/rhel/server/7/7Server/x86_64/optional/os"/>
  <repo name="pulp_2" url="https://rhsm-pulp.corp.redhat.com/content/dist/rhel/server/7/7Server/x86_64/debug"/>
  <repo name="pulp_3" url="https://rhsm-pulp.corp.redhat.com/content/dist/rhel/server/7/7Server/x86_64/rt/os/"/>
{% endset %}
