{% set distro_name = "RHEL-9.3.0-20230813.47" %}
{% set buildroot_name = "BUILDROOT-9.3.0-RHEL-9-20230813.48" %}
{% set distro_requires %}
  <variant op="=" value="BaseOS"/>
  <distro_family op="=" value="RedHatEnterpriseLinux9"/>
  <distro_name op="=" value="{{ distro_name }}"/>
{% endset %}
{% set ks_append | dedent %}
  <ks_append><![CDATA[
  %post
  # Enable RHEL9 Buildroot for test dependencies
  # not always the compose and buildroot compose have same date tag
  cat >/etc/yum.repos.d/BUILDROOT-9.repo <<EOF
  [BUILDROOT-9]
  name=BUILDROOT-9
  baseurl=http://download.hosts.prod.upshift.rdu2.redhat.com/rhel-9/nightly/BUILDROOT-9/{{ buildroot_name  }}/compose/Buildroot/{{ ARCH }}/os/
  enabled=1
  gpgcheck=0
  EOF
  # Add Weekly rebase VIRT repo, required for virt tests
  cat >/etc/yum.repos.d/virt-weeklyrebase.repo <<EOF
  [virt-weeklyrebase]
  name=virt-weeklyrebase
  baseurl=http://batcave.lab.eng.brq.redhat.com/repos/test/WRB/RHEL9/latest/$(uname -i)/
  enabled=0
  gpgcheck=0
  EOF
  %end
  ]]></ks_append>
{% endset %}
{% set host_requires %}
  {% if ARCH == "aarch64" %}
    <not>
      <or>
        {# NOTE(rasibley): Exclude X-Gene systems as they are unsupported for rhel9 and frequently abort #}
        <hostname op="like" value="hp%moonshot-%"/>
        <hostname op="like" value="apm-mustang-%"/>
        {# NOTE(rasibley): Exclude ThunderX (cn88xx) systems which are unsupported in rhel9 #}
        <hostname op="like" value="penguin-valkre%"/>
        <hostname op="like" value="gigabyte-r120%"/>
        <hostname op="like" value="gigabyte-r270%"/>
        {# NOTE (bgoncalv): Exclude Qualcomm Amberwings systems as they are unsupported in rhel9 #}
        <hostname op="like" value="qualcomm-amberwing%"/>
      </or>
    </not>
  {% endif %}
{% endset %}
